@model IEnumerable<ProyectoFinal_Ecommerce.Models.Usuarios>

<h2 style="text-align:center;">EMPLEADOS "SMOOTHIE"</h2>
<br />
<br />
<br />
<table class="table">
    <tr>
        <th style="text-transform:uppercase; text-align:center">
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th style="text-transform:uppercase; text-align:center">
            @Html.DisplayNameFor(model => model.apellido_paterno)
        </th>
        <th style="text-transform:uppercase; text-align:center">
            @Html.DisplayNameFor(model => model.apellido_materno)
        </th>
        <th style="text-transform:uppercase; text-align:center">
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th style="text-transform:uppercase; text-align:center">
            @Html.DisplayNameFor(model => model.role_id)
        </th>
        <th style="text-transform:uppercase; text-align:center">
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.role_id != 1)
        {
            <tr>
                <td style="text-transform:uppercase; text-align:center">
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td style="text-transform:uppercase; text-align:center">
                    @Html.DisplayFor(modelItem => item.apellido_paterno)
                </td>
                <td style="text-transform:uppercase; text-align:center">
                    @Html.DisplayFor(modelItem => item.apellido_materno)
                </td>
                <td style="text-transform:uppercase; text-align:center">
                    @Html.DisplayFor(modelItem => item.correo)
                </td>
                <td style="text-transform:uppercase; text-align:center">
                    @Html.DisplayFor(modelItem => item.role_id)
                </td>
                <td style="text-transform:uppercase; text-align:center">
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td style="text-transform:uppercase; text-align:center">
                    @Html.ActionLink("Eliminar", "EliminarUsuarios", new { item.id })
                    @Html.ActionLink("Editar", "Perfil", new { item.id })

                </td>
            </tr>
        }

    }
</table>
<br />
<br />
<div class="form-group">
    <div class="col col-md-offset-5 col-md-10">
        @Html.ActionLink("Regresar al Panel", "VistaPanelUsuarios", "Usuarios")
    </div>
</div>